html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(21, 47, 63, 0.4), rgba(21, 47, 63, 1));
}
canvas {
  display: block;
  border: 4px solid black;
}
